$color-black: rgba(12, 21, 38, 1);
$color-black-10: rgba(102, 136, 199, 0.1);
$color-black-20: rgba(12, 21, 38, 0.2);
$color-blue: rgba(58, 171, 216, 1);
$color-green: rgba(28, 191, 22, 1);
$color-yellow: rgba(216, 184, 23, 1);
$color-orange: rgba(216, 117, 30, 1);
$color-whitesmoke: whitesmoke;
$color-white: white;


